<div class="login-container">
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

  <form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">

    <input [(ngModel)]="login.username" name="username" type="text" id="inputUsername" class="form-control mt-3" placeholder="Username" required autofocus>
    <input [(ngModel)]="login.password" name="password" type="password" id="inputPassword" class="form-control mt-3" placeholder="Senha" required>

    <button class="btn btn-lg btn-primary btn-block mt-4" [disabled]="form.form.invalid" type="submit">Entrar</button>
    <br>
    <button class="btn btn-md btn-secondary btn-block mt-4" [routerLink]="['/create-account']">Criar Conta</button>

  </form>
</div>

