<div class="d-inline-flex mb-3 align-items-center">
  <h2 class="resumo-title mb-0">Saldo</h2>
  <button class="btn btn-lg dropdown-toggle {{(received-lended<=0)?'btn-danger':'btn-primary'}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    R$ {{(received - lended).toFixed(2)}}
  </button>
</div>

<div class="collapse" id="collapseExample">

  <div class="d-flex flex-column">
    <div class="d-inline-flex align-items-center">
      <h5 class="resumo-title">Emprestou</h5>
      <h5> <span class="badge bg-secondary">R$ -{{lended.toFixed(2)}}</span></h5>
      <h5 *ngIf="lended_unconfirmed != 0"> <span class="badge bg-warning text-dark ms-1">* R$ -{{lended_unconfirmed.toFixed(2)}}</span></h5>
    </div>
    <div class="d-inline-flex align-items-center">
      <h5 class="resumo-title">Recebeu</h5>
      <h5> <span class="badge bg-secondary">R$ +{{received.toFixed(2)}}</span></h5>
      <h5 *ngIf="received_unconfirmed != 0"> <span class="badge bg-warning text-dark ms-1">* R$ +{{received_unconfirmed.toFixed(2)}}</span></h5>
    </div>
  </div>

</div>

<hr>

<h2>Histórico de pagamentos</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Enviou</th>
      <th scope="col">Recebeu</th>
      <th scope="col">Valor</th>
      <th scope="col">Descricao</th>
      <th scope="col">Data</th>
      <th scope="col">Confirmado</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <th scope="row">{{payment.id}}</th>
      <td>{{payment.sender_name}}</td>
      <td>{{payment.receiver_name}}</td>
      <td>R$ {{payment.value.toFixed(2)}}</td>
      <td>{{payment.description}}</td>
      <td>{{payment.date.split(" ")[0]}}</td>
      <td>{{payment.confirmed?"Sim":"Não"}}</td>
      <td>
        <button *ngIf="! payment.confirmed && payment.receiver_id == userInfo.userPublicId"
                (click)="confirmPayment(payment.id)"
                class="btn-success btn">
          Confirmar
        </button>
      </td>
    </tr>
  </tbody>
</table>
